div.center-screen {
    margin-top: 2%;
}

.row {
    margin-right: 0px;
}

.p-ripple.ripple-yellow .p-ink {
    background: rgba(255,255,0,0.3);
}

hr {
    background-color: whitesmoke;
}

h3.text-center {
    color: whitesmoke;
    text-align: center;
    padding-top: 2%;
}